@charset "UTF-8";
/* CSS Document */


*
{
	
	margin:0;
	padding:0;
	color: white;
	font-family:Avenir;
	resize: none; 
	
}

@font-face 
{
    font-family: Avenir;
    src: url(./fonts/AvenirNextLTPro-Regular.otf);
    font-weight:400;
}
@font-face 
{
    font-family: AvenirBold;
    src: url(./fonts/AvenirNextLTPro-Bold.otf);
    font-weight:400;
}
@font-face 
{
    font-family: AvenirUltLt;
    src: url(./fonts/AvenirNextLTPro-UltLt.otf);
    font-weight:400;
}
@font-face 
{
    font-family: AvenirDemi;
    src: url(./fonts/AvenirNextLTPro-Demi.otf);
    font-weight:400;
}

body
{
	width:1080px;
	height:1920px;
	//overflow:hidden;
}



header, 
section, 
footer, 
aside, 
nav, 
article, 
hgroup 
{
	display: block;
	margin:0;
	padding:0;
}




hgroup
{
	background-color: #F4622E;
    width: 1080px;
	color:white;
	height: 232px;
}



#head_wrapper
{
	width:500px;
	text-transform:uppercase;
}

#main_header
{
	font-size: 156px;
    font-weight: lighter;
    text-align: center;
    width: 1080px;
	font-family:AvenirUltLt;
}

#sub_header
{
	text-align: center;
	font-family: AvenirBold;
	text-transform: none;
	font-size: 44px;
	margin-left: 484px;
	margin-top: -44px;
}


#main_nav
{
    background-color: black;
    font-size: 42px;
    height: 100px;
    padding-left: 10px;
    text-align: center;
}

#main_nav ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

nav ul li
{
    display: inline;
    float: left;
    margin-left: 2px;
    text-transform: uppercase;
}

#row_wrapper
{
	padding-left: 10px;
    padding-right: 10px;
    width: 1060px;
	padding-bottom:10px;
}

li > div
{
    color: #727372;
    display: block;
    padding-top: 31px;
    width: 223px;
}

.row
{
	height: 100px;
	margin-bottom: 7px;
	width: 1060px;
	
}

.column
{
	float: left; 
}

.row:nth-child(odd) 
{
	background: #727372;
}

.row:nth-child(even) 
{
	background: #333333;
}

.column > .agency,
.column > .mission,
.column > .destination
{
	border-right: 1px solid white;
	height: 107px;
}



div[class*="agency"]
{

}

.agency_inner 
{
	float:left;
	padding-top:40px;
	padding-left:14px;
}

.column > .agency
{
	font-family:Avenir;
	font-size:22px;
	width: 223px;
}

div[class*="mission"]
{
	width:355px;
}

.mission_inner
{
	font-family:AvenirBold;
	font-size:33px;
	float:left;
	padding-top:36px;
	padding-left:14px;
}


div[class*="destination"]
{
	width:275px;
	text-align:center;
	text-transform:uppercase;
}

.destination > div 
{
    width: 222px;
    float: left;
    margin: 14px 14px 14px 29px;
	font-family:AvenirDemi;
	height:70px;
	font-size:30px;
	padding-top:6px;
}

.small_dest_text
{
	font-size:24px;	
	font-family: AvenirDemi;
}


div[class*="date"]
{
	width:200px;
	text-align:center;
}


.date_inner
{
	float:left;
	padding-top:42px;
	font-family:AvenirBold;
	font-size:30px;
}

#row_wrapper
{
	background-color: black;
}

.arrow
{
	float: left; 
	width: 50px; 
	border: 1px solid white;
	background-color: CadetBlue;

}

.hidden
{
	display:none;
    float: right;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.selected 
{
    display: block;
    float: right;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

#close_window
{
	background-color: black;
	color: white;
	width: 1060px;
	padding: 10px;
}

.outer_transparent
{
	background-color:black;
	float:left;
	position:absolute;
	width:1080px;
	height:1600px;
	margin-top:230px;
	
}

.close_button
{
	width: 50px;
	left: 990px;
	top: 0px;
	float: right;
	position: absolute;
}

.hidden_footer
{
	display:none;
	
}
.show_footer
{
	display:block;
}

#close_footer
{
	font-size: 45px;
	text-align:center;	
}

.inner_content
{
	color: white;
    float: left;
    margin: 230px 30px 30px;
    padding: 30px 30px 0;
    position: absolute;
    width: 960px;

}

.agency_callout 
{
	font-size:22px;
}


.name_callout
{
	font-size:90px;
	float:left;
	margin-top:-5px;
}

.full_name_callout
{
	font-size:19px;	
	float:left;
	width:675px;
	height: 40px;
}

.destination_callout
{
	font-family: AvenirDemi;
	font-size: 30px;
	margin-bottom: 40px;
	text-transform: uppercase;
	float: right;
	width: 228px;
	text-align: center;
	padding: 20px 0px 20px 0px;
	

}


.launched_callout
{
	float: left;
	font-size: 24px;
	width: 500px;
	font-family:AvenirBold;
}

.launch_date_callout
{
		
}

.arrives_callout
{
	float: right;
	font-size: 24px;
	width: 400px;
	text-align: right;
	font-family:AvenirBold;
	
}

.description_callout 
{
	font-size: 24px;
    min-height: 134px;
    padding-bottom: 12px;
    padding-top: 25px;
    text-align: justify;
}


.goal_box_callout
{
    background-color: #333332;
    border: 1px solid white;
    height: 365px;
    margin: 30px 14px 14px;
    padding: 20px;
    width: 887px;
}

.goals_callout
{
    float: left;
    padding-left: 10px;
    width: 400px;
}


.fact_callout
{
	padding-top:50px;	
	text-align: justify;
}

.small_img_wrapper_callout
{
    float: right;
    margin-left: 440px;
    position: absolute;
}

.learn_more_callout
{
	font-family: AvenirBold;
    font-size: 24px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.barcode_help_callout
{
	float: left;
    font-size: 21px;
    width: 28%;
}

.barcode_img_callout
{
	float: left;
    padding: 0 20px;
    text-align: center;
    width: 15%;
}


.caption_callout
{
	text-align:center;	
	//width:442px;
}

.credits_callout
{
	text-align: center;	
}


.connect_box_callout
{
	width: 102%;	
}

.twitter
{
	float:left;	
}

#footer
{
	background-color: #F4622E;
	height:80px;
}


/*

Individual styles for mission destination

*/

.sun
{
	background-color: #FECD08;
}

.earth
{
	background-color: #213F9A;
}

.mercury
{
	background-color: #443D32;
}

.mars
{
	background-color: #C33B28;
}

.moon
{
	background-color: #32C0C4;
}

.jupiter
{
	background-color: #E47240;
}

.saturn
{
	background-color: #CC9A34;
}

.asteroid
{
	background-color: #9A679A;
}

.comet
{
	background-color: #66479D;
}

.pluto
{
	background-color: #66479D;
}

.outthere
{
	background-color: #66479D;
}

.ceres
{
	background-color: #9956A2;
}
